
/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f8f8f8;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.logo h1{
    font-size:35px;
    letter-spacing:3px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin:0 18px;
}

nav ul li a{
    text-decoration:none;
    color:#111;
    font-size:17px;
    transition:.3s;
}

nav ul li a:hover{
    color:#b8860b;
}

.icons a{
    text-decoration:none;
    color:#111;
    margin-left:18px;
    transition:.3s;
}

.icons a:hover{
    color:#b8860b;
}

/* Women's Collection */

.women-collection{
    text-align:center;
    padding:60px 20px;
}

.women-collection h2{
    font-size:42px;
    margin-bottom:15px;
}

.women-collection p{
    color:gray;
    font-size:18px;
}

/* Products */

.products{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:40px;
}

/* Card */

.card{
    width:280px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.card h3{
    text-align:center;
    margin:15px 0;
    font-size:22px;
}

.card p{
    text-align:center;
    color:#777;
    margin-bottom:15px;
    font-size:18px;
}

.card button{
    width:100%;
    padding:15px;
    border:none;
    background:black;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.card button:hover{
    background:#b8860b;
}

/* Footer */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px;
    margin-top:50px;
}

footer h2{
    margin-bottom:10px;
    letter-spacing:2px;
}

footer p{
    margin-top:10px;
}


 /*men's Collection */

.men-collection{
    text-align:center;
    padding:60px 20px;
}

.men-collection h2{
    font-size:42px;
    margin-bottom:15px;
}

.men-collection p{
    color:gray;
    font-size:18px;
}

/* Products */

.products{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:40px;
}

/* Card */

.card{
    width:280px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.card h3{
    text-align:center;
    margin:15px 0;
    font-size:22px;
}

.card p{
    text-align:center;
    color:#777;
    margin-bottom:15px;
    font-size:18px;
}

.card button{
    width:100%;
    padding:15px;
    border:none;
    background:black;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.card button:hover{
    background:#b8860b;
}

/* Footer */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px;
    margin-top:50px;
}

footer h2{
    margin-bottom:10px;
    letter-spacing:2px;
}

footer p{
    margin-top:10px;
}
/* Hero Section */

.hero{
    height:90vh;
    background-image:url("https://images.unsplash.com/photo-1529139574466-a303027c1d8b");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-text{
    background:rgba(255,255,255,.75);
    padding:40px;
    border-radius:15px;
}

.hero-text h1{
    font-size:55px;
    margin-bottom:20px;
    letter-spacing:2px;
}

.hero-text p{
    font-size:20px;
    color:#555;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:black;
    color:white;
    text-decoration:none;
    border-radius:5px;
    transition:.3s;
}

.btn:hover{
    background:#b8860b;
}
/* New Arrivals */

.new-arrivals{
    padding: 60px 80px ;
    text-align: center;
}
.new-arrivals h2{
    font-size: 42px;
    margin-bottom: 15px;
}
.new-arrivals p{
    color: #777;
    font-size: 18px;
    margin-bottom: 40px;
}
.products{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:50px;
}
/* Bags Collection */

.bags-collection{
    padding: 80px 60px;
    text-align: center;
}

.bags-collection h2{
    font-size: 42px;
    margin-bottom: 15px;
    color: #111;
}

.bags-collection p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}
/* Dresses Collection */

.dresses-collection{
    text-align: center;
    padding: 80px 60px;
}

.dresses-collection h2{
    font-size: 42px;
    margin-bottom: 15px;
    color: #111;
}

.dresses-collection p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}
/* Women's Suits Collection */

.suits-collection{
    text-align: center;
    padding: 80px 60px;
}

.suits-collection h2{
    font-size: 42px;
    margin-bottom: 15px;
    color: #111;
}

.suits-collection p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}
/* High Heels Collection */

.heels-collection{
    text-align: center;
    padding: 80px 60px;
}

.heels-collection h2{
    font-size: 42px;
    margin-bottom: 15px;
    color: #111;
}

.heels-collection p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}
/* Accessories Collection */

.accessories-collection{
    text-align: center;
    padding: 80px 60px;
}

.accessories-collection h2{
    font-size: 42px;
    margin-bottom: 15px;
    color: #111;
}

.accessories-collection p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}
/* Men's Suits */

.mens-suits{
    text-align: center;
    padding: 80px 60px;
}

.mens-suits h2{
    font-size: 42px;
    margin-bottom: 15px;
}

.mens-suits p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}

/* Shirts */

.shirts{
    text-align: center;
    padding: 80px 60px;
}

.shirts h2{
    font-size: 42px;
    margin-bottom: 15px;
}

.shirts p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}

/* Jeans */

.jeans{
    text-align: center;
    padding: 80px 60px;
}

.jeans h2{
    font-size: 42px;
    margin-bottom: 15px;
}

.jeans p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}

/* Jackets */

.jackets{
    text-align: center;
    padding: 80px 60px;
}

.jackets h2{
    font-size: 42px;
    margin-bottom: 15px;
}

.jackets p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}

/* Shoes */

.shoes{
    text-align: center;
    padding: 80px 60px;
}

.shoes h2{
    font-size: 42px;
    margin-bottom: 15px;
}

.shoes p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}

/* Men's Accessories */

.mens-accessories{
    text-align: center;
    padding: 80px 60px;
}

.mens-accessories h2{
    font-size: 42px;
    margin-bottom: 15px;
}

.mens-accessories p{
    font-size: 18px;
    color: gray;
    margin-bottom: 40px;
}

/* ================= SALE PAGE ================= */

.sale-hero{
    background:#111;
    color:white;
    text-align:center;
    padding:120px 20px;
}

.sale-hero h1{
    font-size: 55px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.sale-hero p{
    font-size: 20px;
    color: #ddd;
}

.collection-section{
    padding: 60px 80px;
}

.collection-section h2{
    text-align: center;
    font-size: 38px;
    margin-bottom: 10px;
}

.collection-section p{
    text-align: center;
    color: gray;
    font-size: 18px;
    margin-bottom: 40px;
}

/* Products */

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* Card */

.card{
    width: 280px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
    transition: .4s;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Sale Badge */

.sale-tag{
    position: absolute;
    top: 15px;
    left: 15px;
    background: crimson;
    color: white;
    padding: 8px 14px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

/* Product Name */

.card h3{
    text-align: center;
    margin: 18px 0 10px;
    font-size: 22px;
}

/* Prices */

.old-price{
    text-align: center;
    text-decoration: line-through;
    color: gray;
    font-size: 17px;
}

.new-price{
    text-align: center;
    color: crimson;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 20px;
}

/* Button */

.card button{
    width: 100%;
    padding: 15px;
    border: none;
    background: black;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

.card button:hover{
    background: #b8860b;
}

/* Footer */

footer{
    background: #111;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}

footer h2{
    margin-bottom: 10px;
    letter-spacing: 2px;
}

footer p{
    margin-top: 10px;
    color: #ccc;
}

/* Responsive */

@media(max-width:992px){

    .collection-section{
        padding:40px;
    }

    .card{
        width:260px;
    }

}

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .sale-hero h1{
        font-size:40px;
    }

    .sale-hero p{
        font-size:18px;
    }

    .collection-section{
        padding:30px 20px;
    }

    .products{
        gap:20px;
    }

    .card{
        width:90%;
        max-width:320px;
    }


}

/*================ CONTACT PAGE ================*/

.contact-hero{
    background:#111;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.contact-hero h1{
    font-size:50px;
    margin-bottom:15px;
}

.contact-hero p{
    font-size:20px;
}

.contact-container{
    display:flex;
    justify-content:space-between;
    gap:50px;
    padding:60px 80px;
    flex-wrap:wrap;
}

.contact-info,
.contact-form{
    flex:1;
    min-width:320px;
}

.contact-info h2,
.contact-form h2{
    margin-bottom:20px;
    font-size:30px;
}

.contact-info p{
    margin:20px 0;
    font-size:18px;
    color:#555;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.contact-form textarea{
    resize:none;
}

.contact-form button{
    background:black;
    color:white;
    padding:15px 35px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

.contact-form button:hover{
    background:#b8860b;
}